.TablaPartidosResponsables {
    margin-left:20px;
    background-color: #fff;
}

.tituloTablaPartidos{
    font-size: 30px;
}


tr {
    text-align: center;
}

thead, th {
    border-top: transparent !important;
}

td th {
    font-size: large;
    color: rgb(78, 76, 76);
    font-weight: 600;
    font-family: Helvetica, sans-serif;
}

.TablaPartidosResponsables .btn-primary {
    width: 125px;
    background-color: #40916C;
    border-color: transparent;
}

.TablaPartidosResponsables .btn-primary:hover {
    background-color: #40916dcb;
    border-color: transparent;
}

.TablaPartidosResponsables .btn-primary:focus {
    background-color: #40916dcb;
    border-color: transparent;
}

.TablaPartidosResponsables .btn-primary a {
    color: white !important;
    text-decoration: none !important;
}

.searchBar {
    position: relative;
    width: 30rem;
    background: #57bd84;
    border-radius: .7rem;
}

th {
    color: rgb(53, 53, 53);
    font-size: large;
    font-weight: 500;
}

.searchBox {
    height: 5rem;
    font-family: 'Lato', sans-serif;
    color: #2f2f2f;
    font-size: 1.8rem;
}

input[type="search"] {
    margin-right: 5%;
}

input[type="search"]:focus {
    border-color: transparent;
}

.ContenedorGestion {
    background-color: #fff!important;
}

.scrollable-responsable{
    background-color: #FFFF !important;
    overflow-y:scroll !important;
    max-height:400px !important;
}

.botonTablaValidar{
    background-color: #40916C!important;
    border-color: transparent !important;
}