.TituloRegistroCampeonato{
    border-bottom: 2px #40916C;
}

.link-crear-campeonatos {
    color: white;
    text-decoration: none;
}

.label-select {
    width: 150px !important;
}

.nroZonas {
    width: 150px !important;
    margin-left: 5px !important;
}