.datosperfiles{
    font-size: 30px !important;
}

.header{
    position:absolute;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content:center;
    padding:0.3em;
  
}

.header div.title h2{
    font-family: 'Open Sans Condensed Bold';
    font-size: 80px !important;
    color: #2D6A4F; 
}


.avatar{
    position: fixed;
    top: 30%;
    left: 2%;
    width: 300px;
    height: 250px;
}
.container-sm{
    font-family: 'Open Sans Condensed';
}
.botonclub {
    position: fixed;
    height: 50px;
    width:200px;
    top: 38.5% !important;
    left: 75% !important;
    font-size: 23px !important;
}

.inputclub {
    font-size: 20px !important;
}
.scrollable{
    overflow-y:scroll !important;
    max-height:250px !important;
    
}

