.imagenjugador{
    position: fixed;
    top: 150px;
    left: 20px;
    width: 13vw;
    height: 60vh;
}
.form-label{
    width: fit-content !important;
    padding-left: 900px !important;
}

.contenedorprincipal{ 
    position: fixed ;
    width: 990px ;
    height: 650px ;
    top:70px;
    left:0px ;
}

.datos{
    position: fixed;
    width: 740px;
    height: 650px;
    left: 270px;
    top: 150px;

}

.datospersonales{
    position: fixed;
    width: 740px;
    height: 358px;
    left: 270px;
    top: 150px;
    border: 3px solid #2D6A4F;
}

.labelDato{
    font-family: 'Arial Bold';
    font-size: 18px;
    text-decoration: underline;
}
.fila1A {
    top: 210px;
    left: -550px;
    position: fixed;
}

.fila1AR {
    top: 212px;
    left: -475px;
    position: fixed;
}

.fila2A {
    top: 260px;
    left: -550px;
    position: fixed;
}
.fila2AR {
    top: 262px;
    left: -475px;
    position: fixed;
}
.fila3A {
    top: 310px;
    left: -590px;
    position: fixed;
}
.fila3AR {
    top: 312px;
    left: -425px;
    position: fixed;
}
.fila4A {
    top: 360px;
    left: -555px;
    position: fixed;
}
.fila4AR {
    top: 363px;
    left: -470px;
    position: fixed;
}

.fila5A {
    top: 410px;
    left: -576px;
    position: fixed;
}

.fila5AR {
    top: 412px;
    left: -440px;
    position: fixed;
}

.fila6A {
    top: 460px;
    left: -560px;
    position: fixed;
}
.fila6AR {
    top: 462px;
    left: -460px;
    position: fixed;
}
.fila7A {
    top: 580px;
    left: -555px;
    position: fixed;
}
.fila7AR {
    top: 582px;
    left: -485px;
    position: fixed;
}
.fila8A {
    top: 700px;
    left: -535px;
    position: fixed;
}

.fila8AR {
    top: 702px;
    left: -500px;
    position: fixed;
}

.fila9A {
    top: 750px;
    left: -548px;
    position: fixed;
}
.fila9AR {
    top: 752px;
    left: -490px;
    position: fixed;
}

.fila1B {
    top: 210px;
    left: -215px;
    position: fixed;
}

.fila1BR{
    top: 212px;
    left: -149px;
    position: fixed;
}

.fila2B {
    top: 260px;
    left: -235px;
    position: fixed;
}
.fila2BR {
    top: 262px;
    left: -130px;
    position: fixed;
}
.fila3B {
    top: 310px;
    left: -222px;
    position: fixed;
}
.fila3BR {
    top: 312px;
    left: -135px;
    position: fixed;
}
.fila4B {
    top: 360px;
    left: -205px;
    position: fixed;
}

.fila4BR {
    top: 362px;
    left: -155px;
    position: fixed;
}

.fila5B {
    top: 410px;
    left: -219px;
    position: fixed;
}

.fila5BR {
    top: 412px;
    left: -140px;
    position: fixed;
}

.fila6B {
    top: 700px;
    left: -200px;
    position: fixed;
}

.fila7B {
    top: 583px;
    left: -225px;
    position: fixed;
}
.fila7BR {
    top: 585px;
    left: -140px;
    position: fixed;
}
.fila8B {
    top: 705px;
    left: -220px;
    position: fixed;
}

.fila8BR {
    top: 707px;
    left: -135px;
    position: fixed;
}
.fila9B {
    top: 750px;
    left: -209px;
    position: fixed;
}

.fila9BR {
    top: 752px;
    left: -150px;
    position: fixed;
}

.jugadorTitle {
    font-size: 30px;
    border-bottom: 3px solid #2D6A4F;
    font-family: 'Arial';
}

.clubTitle {
    font-size: 30px;
    border-bottom: 3px solid #2D6A4F;
    font-family: 'Arial';
}

.statsTitle {
    font-size: 30px;
    border-bottom: 3px solid #2D6A4F;
    font-family: 'Arial';
}


.datosclub{
    position: fixed;
    width: 740px;
    height: 138px;
    left: 270px;
    top: 510px;
    border: 3px solid #2D6A4F;
}

.stats{
    position: fixed;
    width: 740px;
    height: 148px;
    left: 270px;
    top: 650px;
    border: 3px solid #2D6A4F;
}