.main-container-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-container-datos-navbar-jugador {
    height: 100vh !important;
    width: 100vw !important;
    background-image: url(../../assets/images/imagencancha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titledatos{
    display: flex;
    justify-content:center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 80px !important;
    color: #ffffff;
    margin-bottom: 50px;
}
.avatar{
    width: 300px !important;
    height: 250px !important;
}

.datos-perfil {
    display: flex;
    justify-content: center;
}

.datos-perfil-club {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width: 60vw;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-club {
    width: 100% !important;
}

.boton{
    margin-top: 20px !important;
    width: 300px !important;
    font-size: 30px !important;
}

.scrollable{
    background-color: #FFFF !important;
    overflow-y:scroll !important;
    max-height:250px !important;
}
