.main-container-registro {
    background-image: url("../../assets/images/travel-nomades-JO19K0HDDXI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 300px;
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-select {
    width: 300px !important;
    margin-bottom: 10px;
}

.boton-submit {
    width: 300px;
}

.titulo-responsable {
    margin-bottom: 50px !important;
    justify-self: flex-start;
}

