.main {
    background-image: url("../../assets/images/travel-nomades-JO19K0HDDXI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-container-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}



