.TablaAdministracion{
    width: 50%;
}
.Administracion{
    display: flex;
}
.d-grid{
    margin-left:15%;
    align-items: center;
    justify-content: center;
}
.botonesAdmin{
    height: 40%!important;
    width: 140%;
}