.containerLogin {
    background-color: #b7e4c7;
    height: 100vh !important;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 100px;
    justify-content: center;
}

.label-select {
    width: 300px !important;
    margin-bottom: 10px;
}

.boton-submit {
    width: 300px;
}


.submit-boton{
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 34%;
    margin-bottom: 15px;
}

.Boton:hover {
    background-color: #131311c9; /* Green */
    color: white;
  }
.Boton{
    margin-top: 15px;
    transition-duration: 0.4s;
    color:white;
    background-color: #272523;
    border-radius: 5px;
    height: 25px;
    width: 150px;
    position: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
}
p.error{
    padding-bottom: 20px;
    padding-right: 50px;
    color: rgb(228, 121, 121);
    font-weight: 100;
}