
.Administracion{
    width: 100%;
    height: 90% ;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.botones-columna-admin{
    height: 350px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-between !important;
}
.botonesAdmin{
    padding: 20px !important;
    width: 220px !important;
}

.botonesAdmin-tabla{
    background-color: #40916C!important;
    border-color: transparent !important;
    
}
.TablaAdministrador {
    width: 60%;
    background-color: #fff;
}

tbody, td, th, thead, tr {
    color: rgb(0, 0, 0) !important;
    border-color: #40916C !important;
}

tr {
    text-align: center;
}

thead, th {
    border-top: transparent !important;
}

td th {
    font-size: large;
    color: rgb(78, 76, 76);
    font-weight: 600;
    font-family: Helvetica, sans-serif;
}
.botonesAdmin{
    background-color: #40916C!important;
    border-color: transparent !important;
}
.botonesAdmin a{
    text-decoration: none;
    color: white!important;
}
.TablaAdministrador .btn-primary {
    width: 125px;
    background-color: #40916C;
    border-color: transparent;
}

.TablaAdministrador .btn-primary:hover {
    background-color: #40916dcb;
    border-color: transparent;
}

.TablaAdministrador .btn-primary:focus {
    background-color: #40916dcb;
    border-color: transparent;
}

.TablaAdministrador .btn-primary a {
    color: white !important;
    text-decoration: none !important;
}

.searchBar {
    position: relative;
    width: 30rem;
    background: #57bd84;
    border-radius: .7rem;
}

th {
    color: rgb(53, 53, 53);
    font-size: large;
    font-weight: 500;
}

.searchBox {
    height: 5rem;
    font-family: 'Lato', sans-serif;
    color: #2f2f2f;
    font-size: 1.8rem;
}

input[type="search"] {
    margin-right: 5%;
}

input[type="search"]:focus {
    border-color: transparent;
}

.ContenedorGestion {
    background-color: #D8F3DC;
}

