.header{
    position: fixed;
    top: 25px;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content:center;
    padding:0.3em;
  
}

.header div.title h2{
    font-family: 'Open Sans Condensed Bold';
    font-size: 50px !important;
    color: #2D6A4F; 
}
img{
    width: 220px;
    height: 200px;
}
.avatar{
    position: fixed;
    top: 30%;
    left: 2%;
}
.container-sm{
    position: fixed;
    top: 30%;
    left: 20%;
    font-family: 'Open Sans Condensed';
}
.boton {
    position: fixed;
    top: 80%;
    left: 50%;
}

.club{
    position:fixed;
    left:33%;
}