.main-container-datos{
    background-image: url(../../assets/images/imagencancha.jpg);
    background-repeat: repeat;
    background-size: 100vw 100vh;
    width: 100vw !important;
    height: 100vh !important;
    
}
.titledatos{
    position:relative;
    align-items: center;
    top: 160px;
    justify-content:center;
    padding:0.3em;
    font-family: 'Titillium Web', sans-serif;
    font-size: 80px !important;
    color: #ffffff;
  
}
.avatar{
    position: relative;
    left: 80px;
    top: 200px !important;
    width: 300px !important;
    height: 250px !important;
}
.contenedor-datos{
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    width: 1200px;
    height: 400px;
    left: 500px;
    top: -40px !important;
}
.formulario{
    width: 1200px;
    height: 400px;
}
.boton{
    margin-top: 20px !important;
    width: 300px !important;
    font-size: 30px !important;
}

.scrollable{
    background-color: #FFFF !important;
    overflow-y:scroll !important;
    max-height:250px !important;
}
