.contenedor-datos-partido {
    min-height: 100vh;
    background-image: url("../../../assets/images/imagencancha.jpg");
    background-size: cover;
    background-position: center;
}

.tablas-carga-datos{
    display: flex;
    min-height: 90vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contenedorCargaDatosPartido {
    width: 30%;
    display: flex;
    flex-direction: column;
    transform: translateY(10%);
    padding-left: 2%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    margin: 1% auto;
    border-style:double;
    border-radius: 5%;
    background: rgba(8, 107, 51, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contenedorCargaDatosPartido h1 {
    font-family: 'Titillium Web', sans-serif;
    margin: 3% auto;
    text-align: center;
    width: 100%;
    font-weight: 600;
    color: #ffffff;
}


.labelCargarResultadosPartido{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 0 !important;
}
#filaCargaGoles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filaCargaGoles p {
    margin-left: 5%;
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline double;
    font-weight: 700;
    flex-basis: 30px !important;
}

#botonCargarGolesPartido {
    width: 30%;
    margin-right: 20%;
    background-color: #29a11e !important;
    border-radius: 5% !important;
}

#botonCargarGolesPartido:hover{
    background-color: #2b9348 !important;
}


#filaCargaFaltas {
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filaCargaFaltas p {
    margin-left: 5%;
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline double;
    font-weight: 700;
}

#botonCargarFaltasPartido {
    width: 30%;
    margin-right: 20%;
    background-color: #29a11e !important;
    border-radius: 5% !important;
}

#botonCargarFaltasPartido:hover{
    background-color: #2b9348 !important;
}


#filaIncidentesPartido {
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

#filaIncidentesPartido input {
    width: 65%;
    margin-right: 2%;
}

#filaIncidentesPartido input:hover {
    background-color: rgb(238, 238, 238);
}

#filaIncidentesPartido label {
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline double;
    font-weight: 700;
    flex-basis: 2px;
}


.contenedorValidacionGolesAndFaltas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    min-height: 300px !important;
    max-height: 650px !important;
    margin-right: 10%;
    background: rgba(8, 107, 51, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tabla-resultado-goles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 50%;
   
}

.tabla-resultado-falta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;   
    max-height: 50%;
}


#formGridJugadorGol {
    margin-left: 5%;
}

#formGridJugadorFalta {
    margin-left: 5%;
}


#formGridFecha {
    padding: 0%;
}

.tablaGolesCargaPartidos{
    width: 100%;
    max-height: 75% !important;
    overflow-y: scroll !important;
    background-color: white;
}
.tablaFaltasCargaPartidos{
    width: 100%;
    max-height: 75% !important;
    overflow-y: scroll !important;
    background-color: white;
}


#filaBotonConfirmarResultados {
    align-self: center;
}

.botonDatosPartido {
    font-size: 25px ; 
    background-color: #29a11e !important;
    border-radius: 5% !important;
}

.botonDatosPartido:hover {
    background-color: #2b9348 !important;
}

