.containerLogin {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/images/imagencancha.jpg");
    background-size: cover;
    background-position: center;
}

.contenedorCargaDatosPartido {
    width: 50%;
    display: flex;
    flex-direction: column;
    transform: translateY(10%);
    padding-left: 2%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    margin: 1% auto;
    border-style:double;
    border-radius: 5%;
    background: rgba(8, 107, 51, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contenedorCargaDatosPartido h1 {
    font-family: 'Titillium Web', sans-serif;
    margin: 3% auto;
    text-align: center;
    width: 100%;
    font-weight: 600;
    color: #ffffff;
}


.labelCargarResultadosPartido{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
#filaCargaGoles {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filaCargaGoles p {
    max-width: 50% !important;
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline double;
    font-weight: 700;
    flex-basis: 30px !important;
}

#botonCargarGolesPartido {
    width: 50%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    transform: translateX(1em);

}


#filaCargaFaltas {
    width: 35%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filaCargaFaltas p {
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline double;
    font-weight: 700;
    flex-basis: 30px;
}

#botonCargarFaltasPartido {
    width: 50%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    transform: translateX(1em);
    
}


#filaIncidentesPartido {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

#filaIncidentesPartido input {
    width: 73%;
}

#filaIncidentesPartido input:hover {
    background-color: rgb(238, 238, 238);
}

#filaIncidentesPartido label {
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline double;
    font-weight: 700;
    flex-basis: 30px;
}


.contenedorValidacionGolesAndFaltas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 20% !important;
    margin-top: 5%;
    padding-left: 0%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    margin-right: 10%;
    margin-left: 15%;
    border-style:double;
    border-radius: 5%;
    background: rgba(8, 107, 51, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tabla-resultado-goles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 50%;
    width: 100%;
    overflow-y: scroll !important;
}

.tabla-resultado-falta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 50%;
    width: 100%;
    overflow-y: scroll !important;
}


#formGridJugadorGol {
    margin-left: 5%;
}

#formGridJugadorFalta {
    margin-left: 5%;
}


#formGridFecha {
    padding: 0%;
}


.tablaGolesCargaPartidos thead {
    background-color: rgb(168, 168, 168);
}

.tablaGolesCargaPartidos tbody {
    background-color: rgb(255, 255, 255);
}

.tablaFaltasCargaPartidos thead {
    background-color: rgb(168, 168, 168);
}

.tablaFaltasCargaPartidos tbody {
    background-color: rgb(255, 255, 255);
}

#filaBotonConfirmarResultados {
    align-self: center;
}

.botonDatosPartido {
    font-size: 25px ; 
    background-color: #29a11e !important;
    border-radius: 15% !important;
}

.botonDatosPartido:hover {
    background-color: #2b9348 !important;
}

