.containerLogin {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/images/imagencancha.jpg");
    background-size: cover;
    background-position: center;
}

.contenedorCargaDatosPartido {
    width: 50%;
    transform: translateY(10%);
    margin-top: 0%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    margin-right: 10%;
    margin-left: 25%;
    border-style:double;
    border-radius: 5%;
    background: rgba(8, 107, 51, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contenedorCargaDatosPartido h1 {
    font-family: 'Titillium Web', sans-serif;
    margin-left: 20%;
    text-align: center;
    width: 60%;
    font-weight: 600;
    color: #0b770b;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contenedorValidacionGolesAndFaltas {
    width: 70%;
    margin-top: 10%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    margin-right: 10%;
    margin-left: 15%;
    border-style:double;
    border-radius: 5%;
    background: rgba(8, 107, 51, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.labelCargarResultadosPartido {
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    text-align: left;
    text-decoration: underline double;
    font-weight: 700;
    width: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.5%;

}

#botonCargarGolesPartido {
    width: 7em;
    display: inline-block !important; 
    padding: 0.5% 0.5%;
    transform: translate(7em, -2.4em);
}

#botonCargarFaltasPartido {
    width: 7em;
    display: inline-block !important; 
    padding: 0.5% 0.5%;
    transform: translate(7em, -2.4em);
}

#formGridJugadorGol {
    margin-left: 5%;
}

#formGridJugadorFalta {
    margin-left: 5%;
}

.rowCargaResultadosPartidos input {
    width: 70%;
    transform: translate(12em, -2.5em);
    display: inline-block;
}

.rowCargaResultadosPartidos input:hover {
    background-color: rgb(238, 238, 238);
}

#formGridFecha {
    padding: 0%;
}

.contenedorCargaDatosPartido p {
    width: 40%;
    margin-left: 37%;
    margin-bottom: -1%;
    margin-top: 1%;
    color: #f7e70c;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.botonDatosPartido {
    margin-top: 1%;
    margin-left: 40%;
    font-size: 25px !important; 
    background-color: #29a11e !important;
    border-radius: 15% !important;
}

.botonDatosPartido:hover {
    background-color: #2b9348 !important;
}
