.main-container-cargapartido {
    background-image: url("../../../assets/images/travel-nomades-JO19K0HDDXI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
    width: 100vw !important;
    height: 95.7vh !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabla-visualizacion-clubes{
    height: 100% !important;
    width: 50% !important;
    background-color: #ffff;
}

.columna-creacion-partido{
    height: 100% !important;
    width: 50% !important;
    background-color: rgb(177, 9, 9);
}