.ddJugadores{
    background-color: white !important;
    border-color:white !important;
    color:black !important;
}


.navbarsLanding{
    display: flex; 
    width: 400px;
    position: relative;
    left: 1200px;
    justifyContent: space-around 
}
