.navbar {
    background-color: #2D6A4F;
}

.dropdown a:focus{
    background-color: #198754b2!important;
}
.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.editar-admin {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cerrarsesionadmin {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 100%;
}

.cerrarsesionadmin:hover {
    background-color: #198754;
    transition: 100ms;

}