.ddJugadores{
    background-color: white;
    font-color: black;
    border-color:white;
}

.ddJugadores:hover{
    
}

.navbarsLanding{
    display: flex; 
    width: 400px;
    position: relative;
    left: 1200px;
    justifyContent: space-around 
}
