.botones-home {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}
.ColumnasHome{
    width: 300px;
    margin-bottom: 15px;
}
.ColumnasHomeBotones{
    width: 300px;
    height: 50px;
    margin-bottom: 35px;
}

.boton-home {
    padding: 20px !important;
    font-size: 20px !important;
    width: 240px;
}

.titulo-home {
    margin-top: 25%;
    font-size: 200px !important;
}

.contenedor-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/images/fondo-home.jpg");
    background-size: cover;
    background-position: center;
}